.pre {
    background: #000000;
    -webkit-border-radius: 10px;
    border-radius: 20px;
    font-family: Consolas,sans-serif;
    padding: 1px;
    font-size: 1.3em;
    overflow: auto;
    width: 70%;
   position: center;
   
} 
.derecha {
    background: #000000;
    margin-inline: auto;
    background-position: center;
    width:28%;
    height:  100vh;
    border-radius: 20px;
    color: #fff;font-family: Consolas,sans-serif;
    padding: 1px;
    font-size: 1.3em;
    overflow: auto;
    position: center;
    
}

#pantalla-dividida {
    display: flex;
}
